.board table {
  border-collapse: collapse;
  table-layout: fixed;
}

.board td {
  min-height: 20px !important;
  min-width: 20px !important;
  text-align: center;
  padding: 0px;
  border: none;
}

.board .black {
  padding: 0px;
  background-color: #B58863;
}

.board .white {
  padding: 0px;
  background-color: #F0D9B5;
}

.board .rowName {
  border-top: none !important;
  border-bottom: none !important;
  font-size: 14px;
  padding-top: 5px;
}

.board .white.highlight {
  background: rgba(252, 170, 27, 0.42);
}

.board .black.highlight {
  background: rgba(177, 114, 6, 0.81);
}
